@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.container{
    min-width: 70%;
    display: flex;
    margin-top: -40%;
    justify-content: center;
    flex-direction: column;
    
}

@media screen and (max-width:768px){
    .container{
        width: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.about-text{
    background-color: white;
    margin-top: -23%;
    margin-bottom: 30;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 300px;
    font-size: 24px;
    font-family: 'Playfair Display';
    line-height: 32px;
    text-align: center;
}
.about-text-paragraph{
    padding-bottom: 2rem;
    font-size: 17px;

}

.about-headline{
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.container img {

    max-height: 96.5vh;
    overflow: hidden;
    height: auto;
 
  }

