.blogContainer{
    display: flex;
    background-color: white;
    width: 904px;
    height: 1104px;
    margin: 0 auto;
    margin-top: -40%;
}

.addPostComponent{
    display: flex;
    margin-left: 500px;
}

.newPostContainer{
    background-color: gray;
}