.contact-form {
   background-color: #d3d3d3;
   border-radius: 15px;
 }
 
 .form-control:focus {
   border: 1px solid #baa360 !important;
   box-shadow: none !important;
   outline: 0 !important;
 }

 .overlay {
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
   height: 30vh;
   width: 50vh;
   margin: auto;
   background-color: rgba(211, 211, 211);
   border-radius: 15px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 2;
   cursor: pointer;
 }



   
