

.boxbox{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 30rem;
    margin-top: -40%;


}

.textOverall {
text-align: center;
position: relative;
margin: auto !important;
display: block;



}

.textSecond{

    text-align: center;
position: relative;
margin: auto !important;
display: block;

    
}

.bigHero {

    text-align: center;
    position: relative;
    margin: auto !important;
    display: block;

}


.NumberThree{

    text-align: center;
position: relative;
margin: auto !important;
display: block;


}