.footer {

    background-color: #BEA38A;
    
   margin-top: 0.5rem;
   padding: rem;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   
   
   
   font-family: Alegreya;
   font-size: 20px;
   line-height: 33px;
   align-items: center;
   text-align: center;
   letter-spacing: 0.08em;
   color: #FFFFFF;
   
   
   }