@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.flex-box-homes{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 10rem;
    margin-top: -40%;
}

.homes-title{
    display: none;
    width: 402px;
    height: 42px; 
}

.box-title-button {
    font-family: 'Playfair Display';
    background-color: #8d857f;
    width: 70%;
    height: 70%;
    padding: 1rem;
    color: #FFFFFF;
}

.homes-status{
    display: none;
}

.city-of-ad{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 18px;
    line-height: 24px;
}

.house-name-ad{
    font-size: 24px;
    line-height: 32px;
}

.house-info-ad{
    font-size: 18px;
    line-height: 24px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 3rem;
    border-width: 2px;
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
}


.top-flex-box{
    padding-top: 10rem;
    margin-right: 2rem;
    font-family: 'Playfair Display';
}

.bottom-flex-box{
    padding-top: 10rem;
    margin-left: 2rem;
    font-family: 'Playfair Display';
}





