.footer {
background-color: #BEA38A;
   margin-top: 0.5rem;
   padding: rem;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   font-size: 20px;
   line-height: 33px;
   align-items: baseline;
   text-align: center;
   letter-spacing: 0.08em;
   color: #FFFFFF;
   }